/* Stylesheet */

/* Intro */

.b-container {
  width: 100%;
  height: 100% !important;
  user-select: none;
}

.b-travel {
  background-image: url("../resources/assets/travel-bg.jpg");
}

.b-logo {
  position: relative;
  font-size: 2.8rem;
  margin-bottom: 5px;
}

.b-logo:before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 0;
  height: 1px;
  width: 60%;
  /* or 100px */
  border-bottom: 1px solid #F88020;
  margin-bottom: 2px;
}

.b-plane {
  transition: ease 1s;
}

.b-plane:hover {
  transform: rotate(-40deg);
}

.b-search-container {
  font-size: 1.5rem;
  background: #fff;
  padding: 5px;
}

.b-search-input {
  background: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.2rem;
}

.b-search-input:focus {
  outline: 0;
}

.b-search-btn {
  width: 40px;
  height:40px;
  font-size: 1.2rem;
}

.b-scroll {
  font-size: 1.6rem;
}

@keyframes jump {
  0% {
    top: 0;
  }

  50% {
    top: 15px;
  }

  100% {
    top: 0;
  }
}

.b-arrow {
  position: relative;
  text-align: center;
  animation: jump 3s infinite;
}

.b-phi-phi-islands {
  background-image: url("../resources/assets/phi-phi.jpg");
}

.b-miami {
  background-image: url("../resources/assets/miami.jpg");
}

.b-london {
  background-image: url("../resources/assets/london.jpg");
  background-position: right;
}

.b-new-york {
  background-image: url("../resources/assets/new-york.jpg");
}

.b-full-screen-bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.b-did-you-know {
  word-spacing: 1px;
  letter-spacing: 1px;
}

.autocomplete-suggestions {
  font-size: 1.4rem;
  border-radius: 5px;
}


/* iPhone 5, small screens. */
@media(max-width: 320px) {
  .b-logo {
    font-size: 2rem;
  }

  .b-slogan {
    font-size: 0.8rem;
  }

  .b-search-heading {
    font-size: 2.5rem;
  }
}

/* End Of Intro */
